.container {
  border: 2px solid rgba(128, 128, 128, 0.485);
  border-radius: 6px;
  padding: 4px;
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  gap: 12px;
}

.box {
  display: flex;
  align-items: center;
  gap: 8px;
}
